@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
	font-family: 'JetBrains Mono'
}

h1 {
	text-align: center;
	color: #f1fa8c;
}

h3 {
	text-align: center;
	color: #f1fa8c;
}

p {
	text-align: center;
	color: #f1fa8c;
}

body {
	background-color: #282a36;
}

#links {
	text-align: center;
	font-size: 20px;
}

a {
	transition: all 0.5s ease;
	color: #50fa7b;
	text-decoration: none;
}

a:hover {
	color: #f1fa8c;
}